<% layout('/layouts/boilerplate') %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br><br>
            <h1>Add Your Place</h1>
            <br>
            <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input placeholder="Give your space a catchy title" name="listing[title]" type="text" class="form-control" required>
                    <div class="valid-feedback">Title looks good!</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea placeholder="Share some details about your place" name="listing[description]" type="text" class="form-control" required></textarea>
                    <div class="invalid-feedback">Please enter a short description.</div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload Image</label>
                    <input name="listing[image]" type="file" class="form-control" required>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label" required>Price</label>
                        <input placeholder="Price" name="listing[price]" type="number" class="form-control" required>
                        <div class="invalid-feedback">Price should be valid.</div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="location" class="form-label" required>Location</label>
                        <input placeholder="Location" name="listing[location]" type="text" class="form-control" required>
                        <div class="invalid-feedback">Location should be valid.</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="country" class="form-label" required>Country</label>
                    <input placeholder="Country" name="listing[country]" type="text" class="form-control" required>
                    <div class="invalid-feedback">Country name should be valid.</div>
                </div>
                <br><br>
                <button class="btn btn-dark add-btn">Add New Listing</button>
                <br><br>
            </form>
        </div>
    </div>
</body>
